doctype html

html
  head
    link(rel='stylesheet', href='../css/style.css')
    title = Blog Page
    h3 #{errordelete}
    div.head
      h2(id="title", style='color:#DBE8F9') Welcome to your account #{fname} #{lname}
      a.log(href='/logout') Logout
  body(link='#00477F', vlink='#00477F', alink='#00477F')
    br
    br
    div.table
      table(align='center')
        tr
          td(align='center')
            a(href='/blog/new') New Blog
      table(cellpadding='10')
        -if (list.length != 0) 
          -each i in list
            tr   
              td(width="80%", align="left")
                a(href='/blog/#{i._id}') #{i.title}
              td(width="20%", align="center")
                a(href='/blog/#{i._id}/edit') revise this blog
              td(align="right")
                a(href='/blog/#{i._id}/delete') remove
          

