doctype html

html
  head
    title(id="title") = "Signup Page"
    link(rel='stylesheet', href='../css/style.css')
    div.head
      h1(id="title", style='color:#DBE8F9') Create your MyBlog Account!
  body(link='#0000FF', vlink='#0000FF', alink='#0000FF')
    br
    br
    div.body
      div #{signuperror}
      form(action='/login', method='post')
        div
          div
            span.thick Name
            br
            input(id='font14', type='text', placeholder='First', name='fname', size='15', value= fname)
            nbsp #{fnval}
            input(id='font14', type='text', placeholder='Last', name='lname', size='15', value= lname)
            nbsp #{lnval}
          div
            br
            span.thick Choose your Username             
            br
            input(id='font14', type='text', name='user', size='36', value= user) 
            nbsp #{uval}
          div
            br
            span.thick Create a Password
            br
            input(id='font14', type='password', name="pass", size='36')
            nbsp #{pval} #{notif}
          div
            br
            span.thick Confirm your Password
            br
            input(id='font14', type='password', name='pass1', size='36')
            nbsp #{p1val} #{notif}
            br
            nbsp #{message}
          div
            input(type='hidden', name='newuser', value='true')
        div
          br
          input.btn(type='submit', value='Sign Up')
    div.link
      br
      a(href='/login') back to login
