doctype html

html
  head
    title = 'View Blog'
    link(rel='stylesheet', href='/css/style.css')
    div.head
      - each val, key in list
        h3(id="title", style='color:#DBE8F9') #{val.title}
      div(align='center')
        - each val, key in list
          p(id="title", style='color:#DBE8F9') #{val.date} #{val.time}
  body(link='#00477F', vlink='#00477F', alink='#00477F')
    br
    br
    div.viewblog
      div.link
        - each val, key in list
          a.button-link(href='/blog/#{val._id}/edit') Revise
          br
          br
      div 
        - each val, key in list
          p.space #{val.post}
      div.link
        a.button-link(href='/blog') Back

      